@model Plantry.Web.Pages.Pantry.TakeStock.IndexModel

@if (Model.Locations.Count == 0)
{
    <div class="empty-state" id="take-stock-list">
        <p>No locations defined. <a href="/Catalog/Locations">Add a location</a> before taking stock.</p>
    </div>
}
else
{
    <ul class="catalog-list" role="list" id="take-stock-list">
        @foreach (var loc in Model.Locations)
        {
            <li class="catalog-list__item">
                <a class="catalog-list__primary" href="/pantry/take-stock/@loc.LocationId">
                    @loc.LocationName
                </a>
            </li>
        }
        @if (Model.HasNoLocationProducts)
        {
            <li class="catalog-list__item catalog-list__item--no-location">
                <a class="catalog-list__primary" href="/pantry/take-stock/no-location">
                    No location
                </a>
                <span class="catalog-list__badge">needs filing</span>
            </li>
        }
    </ul>
}
