@page
@model Plantry.Web.Pages.More.IndexModel
@{
    ViewData["Title"] = "More";
}

<div class="catalog-section">
    <h1 class="catalog-section__heading">More</h1>
</div>

<nav class="hub-list" aria-label="More options">
    <a href="/Pantry" class="hub-list__item">
        <svg class="icon hub-list__icon" aria-hidden="true"><use href="#i-pantry" /></svg>
        <div class="hub-list__text">
            <span class="hub-list__label">Pantry</span>
            <span class="hub-list__sub">Your stock and inventory</span>
        </div>
        <svg class="icon hub-list__chevron" aria-hidden="true"><use href="#i-chevron-right" /></svg>
    </a>
    <a href="/Catalog" class="hub-list__item">
        <svg class="icon hub-list__icon" aria-hidden="true"><use href="#i-tag" /></svg>
        <div class="hub-list__text">
            <span class="hub-list__label">Catalog</span>
            <span class="hub-list__sub">Products, categories, units &amp; locations</span>
        </div>
        <svg class="icon hub-list__chevron" aria-hidden="true"><use href="#i-chevron-right" /></svg>
    </a>
    <a href="/Settings" class="hub-list__item">
        <svg class="icon hub-list__icon" aria-hidden="true"><use href="#i-settings" /></svg>
        <div class="hub-list__text">
            <span class="hub-list__label">Settings</span>
            <span class="hub-list__sub">Account and household settings</span>
        </div>
        <svg class="icon hub-list__chevron" aria-hidden="true"><use href="#i-chevron-right" /></svg>
    </a>
</nav>
